@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html body {
  margin: 0;
  padding: 0;
  border: 0;
  background: #FBF6F1;

  color: #12121A;

  font-family: 'Space Mono', monospace;
}

a {
  text-decoration: none;
  color: #E46645;
}

h2 {
  font-size: 2em;
}

ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

li {
  display: inline-block;
}

div {
  display: block;
}

section {
  display: block;
}

.splash {
  float: clear;

  background-color: #F7CFA2;
  background-image: url('../img/img1.jpeg');
  background-repeat: none;
  background-size: cover;

  width: 100%;
  height: 400px;
}

.title-bar {
  padding: 30px 10px;
  border: 0;
  margin: 0;

  background: #FBF6F1;
  color: #12121A;
}

.title-text {
  display: inline-block;
  margin: 10px 15px 0;

  font-size: 3em;
}

.navbar {
  text-align: right;
  float: right;
  display: inline-block;
}

.navbar li {
  margin: 15px 15px 0;
}

.navbar li a {
  color: #12121A;
  font-weight: bold;
  transition: all 0.5s ease;
  padding-bottom: 10px;
  border-bottom: 2px solid #FBF6F1;
}

.navbar li a:hover {
  color: #E46645;
  border-color: #E46645;
  transition: all 0.5s ease;
}

.socials {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  letter-spacing: 25px;

  text-shadow: 1px 1px 0.1em #000,
}

.row {
  float: left;
  width: 100%;
}

.content {
  width: 60%;
  margin: 50px auto;
}

.img-wrap {
  float: left;
  vertical-align: top;
  margin: 15px;
}

.img-circle {
  border-radius: 50%;
}

.concert-title {
  margin-top: 30px;
}

.concert-desc {
  display: block;
}

.date-time-loc {
  color: #666565;
  font-style: italic;
}

.img-responsive {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.event {
  display: block;
  float: left;
  margin-bottom: 60px;
}

.event-deets {
  display: inline-block;
  float: none;
}

.event-img {
  display: inline-block;
  max-width: 150px;
  margin-top: 0;
}

.config_entry {
  display: block;
  width: 800px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}

.config_name {
  display: inline-block;
  width: 150px;
  min-width: 150px;
  height: 100%;
  border-right: 1px solid black;
  text-align: left;
}

.text_value {
  display: inline-block;
  min-width: 450px;
  height: 100%;
  border-right: 1px solid black;
  text-align: left;
}

.modify {
  display: inline-block;
  width: 150px;
  min-width: 125px;
  height: 100%;
  text-align: left;
}

.btn-parent form {
  display: inline;
}

.btn-parent button {
  display: inline;
  vertical-align: middle;
}

.btn {
  margin: 5px;
}

.center_text {
  text-align: center;
}

@media screen and (max-width: 990px) {
  .title-text {
    text-align: center;
    display: block;
  }

  .navbar {
    text-align: center;
    margin: 0 auto;
    display: block;
    float: none;
  }

  .splash {
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .splash {
    height: 500px;
  }
}
